<form class="row justify-content-center mt-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="col col-sm-9 col-md-5 component">
    <p class="h4 text-center pb-2">Login</p>
    <div class="form-floating mb-3">
      <input type="text" class="form-control rounded-pill" id="mail" formControlName="mail" autocomplete="false" placeholder="name@example.com">
      <label for="mail">Email address</label>
      <!-- Mail alanı için gösterilecek hatalar -->
      <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="invalid-feedback d-block">
        {{ mail.errors?.['required'] ? 'Mail is required.' : '' }}
        {{ mail.errors?.['email'] ? 'It is not a valid email.' : '' }}
      </div>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control rounded-pill" id="password" formControlName="pass" placeholder="Password">
      <label for="password">Password</label>
      <!-- Şifre alanı için gösterilecek hatalar -->
      <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="invalid-feedback d-block">
        {{ pass.errors?.['required'] ? 'Password is required.' : '' }}
        {{ pass.errors?.['minlength'] ? 'Password must be at least 4 characters long.' : '' }}
      </div>
    </div>

    <div class="d-grid gap-2 d-flex justify-content-center">
      <button type="submit" class="btn btn-primary rounded-pill ps-5 pe-5 mt-3" [disabled]="!loginForm.valid">Login</button>
    </div>

    <!-- Servisten gelen hataları göstermek için -->
    <div *ngIf="submitError && mail.untouched && pass.untouched" class="alert alert-danger mt-3" role="alert">
      {{ submitError }}
    </div>
  </div>
</form>
